<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wigzo.android.sdk.messaging">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name" tools:replace="android:label" >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <activity
            android:name="wigzo.android.sdk.messaging.ProxyActivity"
            android:label="@string/app_name" android:theme="@android:style/Theme.Translucent" android:noHistory="true"/>
        <receiver
            android:name="wigzo.android.sdk.messaging.WigzoMessaging"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="wigzo.android.api" />
            </intent-filter>
        </receiver>
        <service android:name="wigzo.android.sdk.messaging.WigzoMessagingService" >
            <meta-data android:name="broadcast_action" android:value="wigzo.android.api.broadcast" />
        </service>

        <service android:name="org.openudid.OpenUDID_service" android:exported="false">
            <intent-filter>
                <action android:name="org.OpenUDID.GETUDID" />
            </intent-filter>
        </service>
    </application>

</manifest>
